.navBar {
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBar_img {
  padding: 10px 0px;
  height: 90px;
  width: auto;
}
.navBar_searchBar {
  border-style: solid;
  border-color: rgb(236, 233, 233);
  border-radius: 10px;
  background-color: rgb(236, 233, 233);
}

.navBar_inputText{
  text-align: left;
  padding: 0px 10px;
  background-color: rgb(236, 233, 233);
}

.navBar_searchBar:hover {
  border-style: solid;
  border-width: 2px;
  color: lightgray;
}

.navBar_searchBar > input {
  height: 35px;
  width: 400px;
  border: none;
}

::placeholder {
  color: #767fa7;
}

.navBar_searchBar > input:focus {
  outline: none;
}

.navBar_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.navBar_list > li {
  list-style: none;
}

a {
  color: #272142;
  text-decoration: none;
}

a:active {
  color: #6c63ff;
}

a:focus {
  color: #6c63ff;
}

.navBar_toggleButton {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.navBar_toggleButton:active {
  color: #6c63ff;
}

.navBar_toggleButton:active {
  color: #6c63ff;
}

.navBar_toggleList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 60px;
  gap: 5px;
}

.navBar_toggleList > li {
  list-style: none;
}