.navBar {
  margin: auto;
  margin: 20px 0 50px 0px;
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 1em;
}

.navBar_img {
  max-height: 100px;
  width: auto;
}
.navBar_searchBar {
  display: flex;
  max-width: 466px;
  flex: 1 1 466px;
  border-bottom: 2px solid black;
}

.navBar_inputText {
  text-align: left;
  padding: 0px 10px;
  color: black;
  margin-bottom: 5px;
}

.navBar_searchBar:hover {
  color: lightgray;
}

.navBar_searchBar > input {
  height: 35px;
  max-width: 400px;
  width: 95%;
  border: none;
}

.navBar ::placeholder {
  color: #d9d9d9;
  font-style: italic;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  text-align: left;
}

.navBar_searchBar > input:focus {
  outline: none;
}

.navBar_searchBar > button {
  width: 5%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: 5px
}

li {
  list-style: none;
}

a {
  color: #272142;
  text-decoration: none;
}

a:active {
  color: #e4573d;
}

a:focus {
  color: #e4573d;
}

.navBar_toggleButton {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

.navBar_toggleButton:active {
  color: #e4573d;
}

.navBar_toggleButton:active {
  color: #e4573d;
}

.navBar_toggleList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 60px;
  gap: 5px;
}

.shoppingCart {
  position: relative;
}

.shoppingCart > a > span {
  position: absolute;
  width: 75%;
  height: 75%;
  transform: translate(50%, -50%);
  font-size: 8px;
  color: white;
  background-color: #e4573d;
  border-radius: 50%;
  text-align: center;
  right: 0;
  padding: 2px;
}

