/* Set font to Poppins for entire footer */
.footer {
  margin-top: 10em;
  font-family: "Poppins";
}

/*
---
DIVIDER
---
*/
/* line */
.divider {
  width: 98%;
  text-align: center;
  border-bottom: 1px solid black;
  line-height: 0.1em;
  margin-left: 1%;
  margin-bottom: 5em;
}

/* Booktown logo */
.divider img {
  position: absolute;
  bottom: 28em;
  left: 45%;
  width: 10%;
}

.divider .rectangle {
  position: absolute;
  left: 38%;
  height: 0.3em;
  width: 24%;
  background-color: white;
}

/* 
--- 
ICON LINKS 
---
*/
.icon-links {
  display: flex;
  justify-content: center;
}

.icon-links img {
  margin: 0 2.5em;
  height: 1.8em;
}

/* 
--- 
NAVLINKS, NEWSLETTER
---
*/
.container {
  display: flex;
  justify-content: center;
}

.container a {
  font-size: 18px;
  letter-spacing: 0.1rem;
}

/*---LEFT BOX---*/
.container .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*---MIDDLE BOX---*/
.container .middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

/* open library sign */
.container .middle img {
  height: 7em;
  margin-top: 1em;
}

/* Weekly Newsletter heading */
.container .middle p {
  margin-top: 2.5em;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1rem;
}

/* email input */
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 14px;
  letter-spacing: 0.1rem;
  text-align: center;
  box-sizing: border-box;
}

/* subscribe button */
input[type="submit"] {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  padding: 14px 20px;
  cursor: pointer;
}

/*---RIGHT BOX---*/
.container .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* 
--- 
COPYRIGHT
---
*/
.copyright {
  display: flex;
  justify-content: center;
  margin: 3em 0 5em 0;
  font-size: 16px;
}
